In [ ]:
# Project 1

In [ ]:
def get_data(filename):
    new_list = []
    read_data = open(filename,"r")
    data = read_data.readlines()
    for each in data[1:]:
        remove = each.strip("\n")
        new = remove.split(",")
        for el in new:
            if el not in new[2:4]:
                convert = int(el)
            else:
                convert = str(el)
            new_list+=[convert]
    arr=[]
    for i in range(0,len(new_list),9):
        new_r = new_list[i:i+9]
        if new_r != ['', '', '', '', '', '', '', '', '']:
            arr+=[new_r]
    return arr


import MySQLdb

db = MySQLdb.connect("cscdata.centre.edu","ha","DSC270F@ll2023", "ha_grades")
cursor = db.cursor()
sql = ("INSERT INTO students (number, student_id, last_name, first_name, quiz_1, quiz_2, quiz_3, quiz_4, quiz_5) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)")
try:
    cursor.executemany(sql,get_data("grades.csv"))
    db.commit()
except:
    print("error running query")
    db.rollback()
    
db.close()